body{
	margin: 0;
}

header{
	display: flex;
	flex-flow: column wrap;
	margin:0;
	padding-bottom: 1px;
}

div.background{
	background: url(../images/City_Landscape_Background.jpg) left top no-repeat;
	opacity: 0.7;
	margin: 0;
	height:274px;
	background-size: 100% 274px;	
}

.background .background-text{
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, rgb(15,80,230,1), rgb(132,232,242,0.5),rgb(15,80,230,1));
	height: 274px;

}

div.background-text p{
	font-family: Copperplate Gothic;
	font-size: 70px;
	color: white; opacity: 0.8;
	text-align: center;
	text-shadow: 2px 5px 7px #000000;
}

header nav{
	display: flex;
	margin: 0px;
	padding: 0px;
	padding-top: 1px;
	flex-flow: column;
	width: 100%;
}

header nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: stretch;
	margin: 0;
	background: rgb(192,192,192);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}


nav ul li a{
	text-decoration: none;
	font-family: consolas;
	color: black;	
	margin-right: 0.5%; 
	height: 100%;
	text-align: center;
}

nav ul li{
	list-style: none;
	font-size: 25px;
	border-radius: 5px;
	padding: 8px;
	padding-right: 40px;
	padding-left: 30px;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
	transition: text-shadow 0.5s, box-shadow 0.5s;
	-webkit-transition: text-shadow 0.5s, box-shadow 0.5s;
}

nav ul li:hover{
	background: grey;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

nav ul li a:hover{
	color: white;
}

section{

	display: flex;
	justify-content: center;
	background: url(../images/bg1.png) left top repeat;
	padding: 1%;	
}

section .main{
	width:80%;
	background:white;
	display: flex;
	flex-flow: column;
	align-items: center;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	padding: 2%;
	padding-top:5%;
}
/*these columns are for cv*/
.columns{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.column1{
	width: 50%;
}

.column2{
	text-align: center;
	width: 50%;
}

.main .movingimg{
	display: block;
	border-radius: 4px;
	height: 480px;
	width:280px;
	position:relative;
	margin:2%;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
	animation-name: imgmove;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.main .floatimg{
	float: left;
	box-shadow: -2px 4px 8px;
	margin-right: 15px;
}

@keyframes imgmove{
	0%{left:-31%;}
	100%{left:31%;}
}

h2{
	font-size: 50px;
}

.main p{
	font-size: 25px;
	font-family: 'Mongolian baiti';
}
/*this is from index page from now*/
.click{
	display: flex;
	flex-flow: row wrap;
	padding: 2%;
	width:80%;
	justify-content: space-around;
}

.click a{
	text-decoration: none;
}

.click .about,.cv{
background:grey;
color:white;
width:250px;
height:250px;
text-align: center;
vertical-align: center;
line-height: 240px;
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
transition: box-shadow 0.5s, text-shadow 0.5s;
-webkit-transition: box-shadow 0.5s, text-shadow 0.5s;
text-shadow: 2px 5px 7px rgba(0,0,0,0.3);
}

.cv p{
	font-size: 50px;
	transition: font-size 0.5s;
}

.cv p:hover{
	font-size: 55px;
}

.about p{
	font-size: 50px;
	transition: font-size 0.5s;
}

.about p:hover{
	font-size: 55px;
}

.cv:hover{
	box-shadow: 5px 8px 10px rgba(0,0,0,0.2);
	text-shadow: 2px 8px 7px rgba(0,0,0,0.3);
}

.about:hover{
	box-shadow: 5px 8px 10px rgba(0,0,0,0.2);
	text-shadow: 2px 8px 7px rgba(0,0,0,0.3);
}

/*this is from the social page from now*/
.social{
	width:50px;
	height:50px;
	transition: height 1s, width 1s;
}

.social:hover{
	height: 60px;
	width: 60px;
}

/*this is for the contacts page from now*/
#map{
	position: static;
	height: 300px;
	width: 75%
}

form{
	background-color: #f2f1e6;
	border-radius: 7px;
	padding: 2%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	width: 50%;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

label{
 font-size: 25px;
 color:green;
}

input[type=text],select {
	width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
	width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
}

button{
	background-color: rgb(95, 226, 101);
	width: 100%;
	padding: 10px 10px;
	border-radius: 4px;
	color:white;
}

button:hover{
	background-color: rgb(83, 173, 87);
}

footer{
	height: 35px;
	background: rgb(123, 153, 185);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	height: 100%;
	box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.3);
}

.copyright{}

@media screen and (max-width: 800px){
 header nav ul{
 	display: flex;
 	flex-flow: column nowrap;
 	align-items: stretch; 
 	margin: 0;
 	padding: 0;
 	background: grey;
}

form{
	width: 80%;
}

.columns{
	flex-flow: column wrap;
}

@keyframes imgmove{
	0%{left:-19%;}
	100%{left:19%;}
}

header nav ul li{
	margin: 0;
}

header nav ul li{
	padding: 20px 0 20px 0;
	margin: 1px 0 1px 0;
	background: white;
}
}
